@charset "utf-8";
/* init css start*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav,a , img, span, i, dl { 
  display: inline-block; 
}
html{ 
  font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%,用rem, 1rem=10px*/ 
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust: none; 
  font-size-adjust: none;
  line-height: 1;
}	
body, button, input, select, textarea { 
  font-family: '\5FAE\8F6F\96C5\9ED1', 
               '\534E\6587\7EC6\9ED1',
			   Helvetica,Tahoma,Arial,
			   sans-serif; 
  font-size: 16px;
  font-size: 1.6rem;		   
  color: #333; 
  background-color: #eee;
}

h2, h3 , h4, h6{
  font-weight: normal;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h5{
  font-size: 1.3rem;
}
h6 {
  font-size: 0.9rem;
}
body, ul, ol, dl, dt, dd, li, h2 , h3, h4, h6,p , input , hgroup, button{ 
  margin: 0; 
  padding: 0;
}
ul, ol, dl {
  list-style: none;
}
em, address, i {
  font-style: normal;
}
a:hover { 
  cursor: pointer;
}
a:focus { 
  outline: 0; 
}
/* 改善在所有浏览器中获取焦点和悬停时的可读性  */
a:link,
a:visited,
a:hover, 
a:active { 
  color: #000;
  outline: 0; 
  text-decoration: none;
}
input, 
textarea, 
button,
a,
a:hover,
a:active {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img {
  border: 0 none;
}
img, object, embed, video, iframe{
	width: 100%;/* IE 6 不支持最大宽度，因此默认为 100% 宽度 */
	max-width: 100%;
	width： auto\9; /* ie8 */
	height： auto;

}
input, img, select, button {
  vertical-align: middle;
}
input {
	outline: none;
	-webkit-appearance: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{
	-moz-appearance: textfield;
}
input, button{
	background: 0 none;
	border: 0 none;
}
del {
	color: #999;
}
.bgOrg {
	/*background-color: #FFB838;*/
	background-color: #FE9402;
}
.bgGray {
	background-color: #ccc;
}
.clear {
	clear:both;
	display: block;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
div,header, .list_cate, .list_pro, img, i, .cartListUl, .dt_all .wrap_dtImg {
	box-sizing: border-box;
}
ul li,
dl, {
	/*float: left;*/
}
header,footer {
	display: block;
}
.colorRed {
	color: #e10000;
}
.colorGray {
	color: #aaa;
}
.lightGray {
	color: #ddd;
}
.colorOrg {
	color: #F75338 !important;
}
.f24 {
	font-size: 2.4rem;
}
.f22 {
	font-size: 2.2rem;
}
.f20 {
	font-size: 2.0rem;
}
.f18 {
	font-size: 1.8rem;
}
.f16 {
	font-size: 1.6rem;
}
.f15 {
	font-size: 1.5rem;
}
.f14 {
	font-size: 1.4rem;
}
.f13{
	font-size: 1.3rem;
}
.f12 {
	font-size: 1.2rem;
}
.f10 {
	font-size: 1rem;
}
.txR {
	text-align: right;
}
.tx_center {
	text-align: center;
}
.pos_r {
	position: relative;
	overflow: hidden;
}
.pos_a {
	position: absolute;
}
.inblock, address{
	display: inline-block;
}
.f_color6 {
	color: #666;
}
.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
::-webkit-scrollbar {
	display: none;
}
/** init css end ***/
/** 预留视图转换层*/
.wrapper {
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*****dialog box style ,定位loading start******/
.base_dialog,.mod_dialog,.mod_dialog_alert {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	display: none;
}
.base_dialog_mask,.mod_dialog_mask, .selec_mask, .school_mask, .mod_cart_mask, .mod_detail_mask, .mod_juhe_mask,.mod_dialog_mask_alert{
	z-index: 10006;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .45;
	width: 100%;
	height: 100%;
}
.mod_cart_mask {
	z-index: 10001;
}
.base_dialog_box,.dialog_box,.dialog_box_alert {
	z-index: 99999;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	top: 25%;
	left: 50%;
	padding: 0;
	padding-bottom: 15px;
	text-align: center;
	width: 68%;
	margin-left: -34%;
}
.base_dialog_box {
	padding: 20px 0px 0px 0px;
}
.dialog_title,.dialog_title_alert {
	background-color: #FFB838;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-size: 1.4rem;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}
.dialog_main,.dialog_main_alert {
	background-color: #fff;
}
.dialog_main p {
	text-align: center;
	line-height: 20px;
	padding: 8px 20px;
}
.dialog_main .listPad{
	padding:0 6px 6px;
}
.dialog_btn_tx {
	margin: 0px auto 0px auto;
	height: 25px;
	line-height: 25px;
	background-color: #FFB838;
	font-size: 1.2rem;
	text-align: center;
	width: 99px;
	border-radius: 3px;
}
.base_dialog_box h3 {
	font-size: 1.6rem;
}
.base_dialog_box p {
	padding: 20px 0;
}
.base_dialog_box p, .wrap_btns {
	color: #FF5301;
}
.wrap_btns {
	display: -webkit-box;
	-webkit-box-pack: start;
	text-align: center;
	height: 46px;
	line-height: 46px;
	border-top: 1px solid #FF5301;
	width: 100%;
	position: relative;
}
.wrap_btns button {
	width: 50%;
	border-right: 1px solid #FF5301;
	position: absolute;
	display: inline-block;
	height: 100%;
	
}
.wrap_btns button:active {
	background-color: rgba(255,83,1,.5);
	-webkit-tap-highlight-color:rgba(255,83,1,.9) !important;
}
.wrap_btns button.btn_return:active {
	border-bottom-left-radius: 5px;
}
.wrap_btns button:last-child {
	border-right: 0 none;
	right: 0px;
	border-bottom-right-radius: 5px;
	padding-left: 1px;
	-webkit-box-sizing: content-box;
}

.dialog_loading {
	border-radius: 0;
	background-color: transparent;
}
.dialog_toast {
	background-color: #444;
	padding: 15px 0px;
	color: #fff;
	border-radius: 0;
	top: 35%;
}
/*****dialog box style ,定位loading end******/
/*******iscroll loading refresh style start*********/
.ico_loading {
	display: block;
	width:40px; 
	height:40px;
	margin: 10px auto;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; 
	background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
.ico_loading {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.dialog_loading .tip_tx {
	text-align: center;
	margin: 10px;
	color: #fff;
}
.ico_logo {
	margin: 25px auto;
	display: block;
	width: 88px;
	height: 88px;
	background:url(../img/logo.png) 0 0 no-repeat;
	-webkit-background-size:88px 88px; 
	background-size:88px 88px;
}
/*******iscroll loading refresh style end*********/
/***********add shopping animation start**************/
.floatIco{
	width: 28px;
	height: 28px;
	z-index: 10005;
	background: url(../img/i_cart_add.png) no-repeat center transparent;
	background-size: 28px;
	border-radius: 28px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transform: translate3D(0px,0px,0px) scale(0.5,0.5);
}
.beginRotate {
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:rotateIco;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes rotateIco {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/***********add shopping animation end**************/
/***********order page loading & main loading start**************/
.loadBg,.loadImg {
	display: block;
}
.loadBg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .5;
	z-index: 1008;
}
.loadImg {
	position: absolute;
	width: 40%;
	left: 50%;
	top: 50%;
	margin-left: -20%;
	margin-top: -25%;
	z-index: 1009;
	color: #FFB838;
	background: url(../img/i_load.gif) no-repeat center center transparent;
	background-size: 90px 107px;
	height: 107px;
}
.loader {
	display: block;
	margin: 15% auto;
	text-indent: -9999em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: loadPay 1.4s infinite linear;
	animation: loadPay 1.4s infinite linear;
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #FFF;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background-color: #FFB838;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes loadPay {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/***********order page loading & main loading start**************/
/*********common top start****************/
.pageView_static {
	background-color: #fff;
}
.topbar {
	width: 100%;
	height: 36px;
	position: relative;
	background-color: #fff;
	max-height: 36px;
}
.topbar:after {
	content: "";
	border-bottom: 1px solid #C8C7CC;
	-webkit-transform: scaleY(.5);
	-webkit-transform-origin: 0 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.btn_school,.special_tx,.header_cart{
	line-height: 36px;
	position: absolute;
	margin-left: -50%;
	top: 0;
	left: 50%;
	width: 100%;
	text-align: center;
}
.ico_geo {
	width: 15px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/i_geo.png) center center transparent;
	background-size: contain;
	margin-top: -4px;
}
.btn_back {
	background: url(../img/back_arrow.png) no-repeat 40% center transparent;
	background-size: 8px 15px;
	top: 0;
	width: 36px;
	height: 36px;
	left: 0;
	position: absolute;
}
a.btn_school_tx, a.header_cart_tx ,a.special_tx{
	font-size: 1.5rem;
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-flex;
}

.wrap_cate {
	position: relative;
	width: auto;
	height: 66px;
	z-index:1000;
}
#list_cate {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
#cateScroller {
	height: 100%;
	float: left;
	padding: 0;
}
#cate_ul {
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	/*box-shadow: 0px -1px 1px -1px #000 inset;*/
}
/*.wrap_cate::before {
	content: "";
	border-top: 1px solid #C8C7CC;
	-webkit-transform: scaleY(.5);
	-webkit-transform-origin: 0 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
}*/
.wrap_cate::after {
	content: "";
	border-bottom: 1px solid #C8C7CC;
	-webkit-transform: scaleY(.5);
	-webkit-transform-origin: 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;	
	z-index: 1;
}
.cate_li {
	display: block;
	vertical-align: middle;
	float: left;
	width: 84px;
	height: 100%;
	/*border-left: 1px solid #ccc;
	border-right: 1px solid #fff;*/
	font-size: 1.5rem;
	text-align: center;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}
.cate_li::after {
	content: "";
	border-right: 1px solid #C8C7CC;
	-webkit-transform: scaleX(.5);
	-webkit-transform-origin: 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;	
}
#cate_ul li.cate_on a{
	color: #FF5301;
	border-bottom: 2px solid #FF5301;
	box-sizing: border-box;
}
.cate_li a {
	width: 100%;
	height: 100%;
}
.cate_li span {
	width: 100%;
	bottom: .5rem;
	position: absolute;
	left: 0;
}
.cate_li i{
	background: url(../img/on_01.png) no-repeat center transparent;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -2rem;
	background-size: contain;
	width: 50%;
	height: 21px;
	margin-left: -25%;
	display: block;
}
/*********common top end****************/
/***footer style start ****/
.fix {
	position: absolute;
	bottom: 0px;
	box-shadow: 0px 1px 1px -1px #FFC151 inset;
	z-index: 10003;
	background-color: #Fe9402;
	width: 100%;
	height: 44px;
	color: #fff;
}
.ico_cart {
	background: url(../img/i_cart.png) no-repeat 43% center #fff;
	background-size: 26px;
	top: -12px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: solid 2px #ccc;
	/*z-index: 1002;*/
	z-index: 10006;
	border-radius: 46px;
}
.ico_selec {
	background: url(../img/i_selec.png) no-repeat center #Fe9402;
	background-size: 18px 10px;
	border: solid 2px #fff;
}
.shopping_count {
	display: inline-block;
	min-width: 16px;
	min-height: 16px;
	padding: 2px;
	top: -2px;
	right: -8px;
	line-height: 16px;
	text-align: center;
	background-color: #Ff5201;
	border-radius: 9px;
	transition: transform .2s;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	-webkit-transform: scale(1);
}
#ico_cart .scaleEl {
	-webkit-transform: scale(1.4);
}
.bg_gray {
	background-color: gray;
}
.i_scale {
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
}
.info {
	left: 21%;
	right: 90px;
	line-height: 18px;
	height: 100%;
	width: 48%;
}
.infoMove {
	left: 3%;
	width: 65%;
}
.btn_bg {
	cursor: pointer;
	background-color: #Ff5201;
	text-align: center;
	width: 31.25%;
	height: 44px;
	line-height: 44px;
	font-size: 1.8rem;
}
.btn_bg a {
	color: #fff;
	width: 100%;
}
.btn_bg_gray {
	text-shadow: 1px -1px 0 #888;
	background-color: #eee;
	background: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#aaa));
	background: -moz-linear-gradient(top,#FA8D2A,#F37401);
	background: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA8D2A', endColorstr='#F37401');
	background: -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA8D2A', endColorstr='#F37401')";
	border: 1px solid #ddd;
}
.btn_cart {
	right: 0;
	top: 0;
}
.btn_disable {
	color: #949494;
}
.btn_cart .btn_tx_gray {
	color: #999;
	text-shadow: 1px -1px 0px #666;
}
.f_color6 {
	color: #666;
}
.f_color4 {
	color: #444;
}
.f_color0 {
	color: #000;
}
.f_ltGray {
	color: lightGray;
}
.pos_tab {
	*position:relative;
	*display:block!important;
    display:table!important;
}
.pos_tabC {
    *position:absolute;
    display:table-cell;
    *display:block;
    vertical-align:middle;
    top:50%;
}
.cart_less {
	color: #454344;
}
/******footer style end *******/
/*****RDC&LDC tag style start***************/
.block29, .block2 {
	min-width: 46px;
	padding: 0 2px;
	max-width: 100%;
	overflow: hidden;
	margin-right: .3rem;
	background-color: #97c0ee;
	color: #fff;
	font-size: 10px;
	height: 15px;
	line-height: 16px;
	text-align: center;
}
.block2 {
	background-color: #94db9e;
}
.detail_header .block29, .detail_header .block2 {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
/*****RDC&LDC tag style end***************/
/********购买按钮组 start*************/
.pos_numGroup {
	float: right;
	line-height: 30px;
	height: 30px;
	position: relative;
	width: 40%;
	margin-top: 10px;
	
}
.btn_count .del, .btn_count .num, .btn_count .add, .pos_numGroup .del, .pos_numGroup .num, .pos_numGroup .add, .addDisable {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	background: url(../img/i_cart_add.png) no-repeat center center scroll #F75338;
	background-size: 15px;
	text-align: center;
	right: 0;
	position: absolute;
	bottom: 0;
}
.btn_count .del, .pos_numGroup .del {
	background: url(../img/i_cart_del.png) no-repeat center center scroll #F75338;
	background-size: 15px;
	right: 60px;
	display: inline-block;
}
.btn_count .num, .pos_numGroup .num {
	background: none;
	vertical-align: middle;
	text-align: center;
	right: 30px;
	font-weight: normal;
}
.pro_zero .del,
.pro_zero .num{
	display: none !important;
}
.juhePrice {
	margin-left: 10px;
	height: 100%;
}
/********购买按钮组 end*************/
/********抢购按钮 *************/
.btn_scareBuy {
	position: absolute;
	right: 1rem;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 35px;
	background-color: #ccc;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
}
.canBuy {
	background-color: #F75338;
}
/************ style of 500 error page****************/
.pos_padding {
	padding: 20px;
	text-align: center;
}
.pos_padding .btnBig {
	margin: 0 auto;
	width: 100%;
	border-radius: 0;
	height: 40px;
}
.pos_padding .tx_right {
	text-align: right;
	display: block;
	font-size: 1.2rem;
	margin-top: 10px;
}
.ico_error {
	background-color: #fff;
	display: block;
	background:url(../img/i_error.png) no-repeat center transparent;
	background-size: 88px;
	width: 88px;
	height: 88px;
	margin: 42px auto 30px auto;
}
.tip_tx {
	margin-bottom: 30px;
}
.tip_timer {
	margin: -20px auto 49px auto;
	line-height: 1.6rem;
	color: #a9a9a9;
}
/************ style of 500 error page****************/
/* iphone4,5等320尺寸的*/
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
	html {
		font-size: 50%;
	}
	
	/*****index**********/
	.item_a img {
		/*height: 87px;*/
		height: 159px !important;
	}
	.item img {
		max-height: 102px;
		min-height: 8.7rem;
	}
	.item_col h3 {
		height: 3rem !important;
	}

	/*****秒杀页*******/
	.scareLi {
		height: 73px;
	}
	.btn_scareBuy {
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 35px;
		/*bottom: .2rem;*/
	}
	.scareInfo h3 {
		padding: .2rem 0 0;
		height: 28px;
	}
	.scareInfo>h4 {
		margin: 4px 0 0;
	}
	.scareInfo .secKill_price {
		margin: 5px 0 0;
	}
	.detail_header img {
		height: 178px;
	}
}

/* 竖屏手机: 小于等于480的设备。样式继承自上。 */
/*@media only all and (orientation: portrait) and (max-width: 480px) {

}*/

/* 横屏手机+竖屏平板+小屏幕电脑布局: 481px，767px 至 979px。样式继承自上。 */
/*@media only all and (orientation: portrait) and (min-width: 481px) and (max-width: 979px) {

}*/

/* 横屏宽度大于1024时平板和pc布局:样式继承自上。 */
/*@media only all and (orientation : landscape) and (min-width: 1024px) {

}*/
