body {
	font-color: red;
	font-size: 24px;
}

.module {
	height: 100px;
	width: 48%;
	border-style: solid;
	border-width: 1px;
	margin: 2px;
	background-color: royalblue;
	display: inline-block;
	text-align:center;
	padding-top:40px;
}
